services:
  django:
    image: michael81730/moba-ai-analysis-django:latest
    environment:
      MONGODB_ATLAS_HOST: xxxxxxxx
      MONGODB_ATLAS_USER: xxxxxxxx
      MONGODB_ATLAS_PASSWORD: xxxxxxxx
      CLOUDINARY_CLOUD_NAME: xxxxxxxx
      CLOUDINARY_API_KEY: xxxxxxxx
      CLOUDINARY_API_SECRET: xxxxxxxx
    container_name: django
    restart: always
    expose:
      - "8000"

  nginx:
    image: michael81730/moba-ai-analysis-nginx:latest
    container_name: nginx
    restart: always
    depends_on:
      - "django"
    ports:
      - "800:800"
    volumes: 
      - C:\Users\Public\Documents\zhitongguigu\moba_ai_analysis\certs:/etc/nginx/certs